.DS_Store
.metadata
Servers
board/.settings
board/target/
board/.classpath
board/.project
board/.springBeans
board/bin/
board/.sts4-cache/
# local env files

# Log files
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.sh
*.css.map
