<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mappers.boardMapper">
	<insert id="insertboard" parameterType="com.toyproject.board.BoardDTO">
		insert into board (board_no, board_title, board_contents, board_date)
		values((select IFNULL(MAX(board_no),0)+1 from board a), #{title}, #{contents}, sysdate())
	</insert>
	<select id="boardlist" resultType="com.toyproject.board.BoardDTO">
		select
			board_no as "board_no"
			,board_title as "title"
			,board_contents as "contents"
			,board_date as "board_date"
		from board
	</select>
	<select id="boarddetail" resultType="com.toyproject.board.BoardDTO" parameterType="int">
		select
			board_no as "board_no"
			,board_title as "title"
			,board_contents as "contents"
			,board_date as "board_date" 
		from board where board_no=#{board_no}
	</select>
	<update id="boardupdate" parameterType="com.toyproject.board.BoardDTO">
		update board set board_title=#{title}, board_contents=#{contents}, board_date=sysdate()
		where board_no=${board_no}
	</update>
	<delete id="boardDelete" parameterType="int">
		delete from board where board_no=#{board_no}
	</delete>
</mapper>